/* Reset básico para garantir uma boa base de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais do body */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-top: 30px;
}

/* Container central */
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap; /* Permite que o layout seja mais flexível em telas pequenas */
}

/* Título principal */
h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
  font-weight: 600;
  width: 100%;
}

/* Estilo para a seção de produtos */
.produtos {
  width: 65%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* Estilos individuais de cada produto */
.produto {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.produto img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.produto h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.produto p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
}

.produto button {
  background-color: #007BFF;
  color: #fff;
  padding: 12px 25px;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: backg
}